.Joke__Color{
  color: rgb(255, 0, 0);
}

.Joke__Category{
  color: rgb(0, 255, 0);
}

.Joke__Delivery{
  color: rgb(0, 0, 255);
}

.Joke__Card{
  background: rgb(255, 255, 255);
}

.Joke__Refresh{
  background-color: aqua;
  color: rgb(0, 0, 0);
}