.Title__Card__Color{
  background-color:aliceblue;
  border-radius: 10px;;
}

.Card__Letter__Color{
  color:rgb(0, 0, 0);
}

.Input__Color{
  background-color: aliceblue;
  position: relative;
  color: rgb(0, 0, 0);
  height: 30px;
  border-radius: 5px;
  outline: none;
  padding: 5px;
  border: 1px solid lightblue;
}

.List__Card {
  background-color: black;
  color: white;
  border-collapse:separate;
  border-radius: 10px 10px 10px 10px;
  padding: 3px;
}

.Label__Styles{
  width: 70px;
  position: relative;
  top: -5px;
  font-size: 1.2em;
}

.Item__Containers{
  background-color: black;
  color: white;
  border-collapse:separate;
  border-radius: 10px 10px 10px 10px;
  height: 100px;
}